<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Create a new chat room!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<section>
		<div class="homesection">
			<h1> Chess Demo </h1>
		</div>
	</section>
	
	<section>
		<div class="homesection">
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">Chess Game!</div>
				</div>
			</a>
		</div>
	</section>
	
	<div id = "startProgDiv">
		<h2 id="launchmeeting"> Launch Meeting </h2>
		<form id="makecall">
			App Key </br>
			<textarea id="appkey" >111</textarea>
			DB Path </br>
			<textarea id="dbpath" >C:\Users\Kenny Gea\Documents\Visual Studio 2013\Projects\MeetOnPc\Release\</textarea>
			IP Address </br>
			<textarea id="ip" >117.22.255.68</textarea>
			Accout Name </br>
			<textarea id="accname" >shiann</textarea>
			<input type="button" id="launch" value="Launch!"  />
		</form>
	</div>
	
	
	<div id = "popout">
		<img src="../img/popout.png" id="popoutpic">
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--	<script src="../js/calls.js"></script> -->
</body>
</html>
